<div class="row">
 <div class="col-3 offset-md-4" id="sep5">
    <div class="card" style="width: 18rem;" id="questionedit">
            <div class="card-body">
                <%= render 'form', question: @question, action: 'edit'%>
            </div>
        </div>
    </div>
</div>