<div class="row">
  <div class="col-lg-5 offset-lg-3" id="sep5">  
    <div class="card" id="questionedit">
            <div class="card-body">
                <%= render 'form', question: @question, action: 'edit'%>
            </div>
        </div>
    </div>
</div>