<div class="row">
  <% @questions.each do |question| %>
  <div class="col-8 offset-2">
    <div class="card bg-light mb-3">
      <div class="card-header"><%=question.title%></div>
      <div class="card-body">
        <h5 class="card-title"><h5></h5>
        <p class="card-text">Who Asked</p>    
      </div>
    </div>
  </div>
  <% end %>
</div>