<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1><%= @question.title %></h1>
            <p><%= @question.body %></p>
            <p><a href="<%= edit_question_path %>">Edit</a>
            <a href="<%= destroy_question_path %>">Delete</a>
            </p>
        </div>
    </div>
</div>